
<html lang="en">
    <head>
      <base href="./">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
      <meta name="author" content="Åukasz Holeczek">
      <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
      <title>{{ title }}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
      <!-- Icons-->
      <link href="/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
      <link href="/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
      <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
      <!-- Main styles for this application-->
      <link href="/css/style.css" rel="stylesheet">
      <link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    </head>

    <body class="app flex-row align-items-center  pace-done" cz-shortcut-listen="true">
      <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
          <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="clearfix">
              <h1 class="float-left display-3 mr-4">{{error.status}}</h1>
              <h4 class="pt-3">Oops! You're lost.</h4>
              <p class="text-muted">{{message}}</p>
            </div>
            <div class="input-prepend input-group">
              <a class="btn btn-info btn-lg" href="/" role="button" style="margin-left: 150px">Home</a>
            </div>
          </div>
        </div>
      </div>

      <span id="sbmarwbthv5"></span>
    </body>
</html>